body{
	font:12px/18px 'Helvetica', Arial, Helvetica, sans-serif;
	margin:25px;
	width:800px;
}

body *{
	margin:0;
	padding:0;
}

h1{
	padding:0 0 20px;
}

h2{
	color:#333;
	padding:10px 0 10px;
	clear:both;
}

h3{
	color:#666;
	padding:7px 0 5px;
}

code,
pre{
	background:#F0FCF6;
	border:1px solid #B4BDB8;
}

code{
	padding:2px;
}

a{
	color:#0066cc;
}

ul{
	list-style-position:inside;
}

a:hover{
	color:#3F7200;
	text-decoration:none;
}

ul,
p{
	margin:0 0 7px;
}


pre{
	padding:10px;
	margin:10px 0;
	display:table;
}
.codeComment{
	font-style:italic;
	color:#999;
}